@font-face {
  font-family: 'Protomolecule-regular';
  src: url('../../2025-Components/Fonts/Protomolecule-Regular.ttf') format('truetype');
}

.main-container25 {
  position: relative !important;
  z-index: 3;
  background-color: black;
  min-height: 100vh;
}

.main-container25 .landing_2025_stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../Images/stars1.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.20 !important;
  z-index: 3;
}

.frontpage-container25 {
  font-family: 'Protomolecule-regular', sans-serif;
  position: relative;
  inset: 0px auto auto 0px !important;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: scale(1);
  opacity: 1;
}

.columns-container25 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 0 40px;
  z-index: 3;
}

.column25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.combined-column25 {
  display: inline-grid;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center-align text */
  gap: 2rem; /* Add spacing between lines */
}

.text25 {
  font-size: 15px;
  color: #ccc;
  max-width: 200px;
  opacity: 1;
  white-space: pre-wrap;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: justify;
  transition: text-decoration-color 1s ease-in-out;
}

.year-container25 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 2;
}

.year25 {
  font-size: 20rem;
  color: #fff;
  letter-spacing: 1.5rem;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.text2{
  position: relative;
  left: -160px;
}

.zero {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.tagline-container25 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 3;
}

.tagline25 {
  position: relative;
  font-size: 26px;
  padding: 5px 15px;
  background-color: black;
  color: white;
  z-index: 3;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.line-overlay25 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
  z-index: 1;
  transform: translateY(-50%);
}

@keyframes blink25 {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

.blinking25 {
  animation: blink25 2.5s ease-in-out;
}

/* Media Queries for Responsiveness */

@media (max-width: 1080px) {
  .text25 {
    font-size:10px;
    width: 60%; /* Adjust text width */
  }
  .text2{
    left: -130px;
  }
  .year25 {
    font-size: 18rem; /* Reduce year font size */
    letter-spacing: 1rem; /* Reduce spacing */
    gap: 0.4rem; /* Adjust gap between numbers */
  }
  .tagline25 {
    font-size: 23px; /* Adjust tagline size */
  }
}

@media (max-width: 960px) {
 
  .text25 {
    font-size: 12px;
    width: 75%; /* Further adjust text width */
  }
  .year25 {
    font-size: 16rem;
    letter-spacing: 0.8rem; /* Further reduce spacing */
    gap: 0.3rem;
  }
  .tagline25 {
    font-size: 18px;
   
  }
}

@media (max-width: 768px) {
 
  .columns-container25 {
  
    gap: 2%;
    padding: 10px;
  }
  .text25 {
    font-size: 10px;
    width: 50%; /* Adjust text width */
  }
  .text2{
    left: -100px;
  }
  .year25 {
    font-size: 13rem; /* Adjust year font size */
    letter-spacing: 0.6rem;
    gap: 0.2rem;
  }
  .tagline25 {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  
  .columns-container25 {
    padding: 5px;
    top: 10%;
  }
  .text25 {
    font-size: 6px;
    width: 50%; /* Adjust text width */
  }
  .text2{
    left: -40px;
  }
  .year25 {
    padding: 5px;
    font-size: 7rem; /* Reduce year font size for small screens */
    letter-spacing: 0.3rem;
    gap: 0.1rem;
  }
  .tagline25 {
    font-size: 6px; /* Reduce tagline font size */  
  }
  .tagline-container25 {
    top: 50%;
    padding: 0px;
  }
  .line-overlay25 {
    display: none;
  }
}
@media (max-width: 320px) {
  .year25 {
    padding: 5px;
    font-size: 6rem; }
  .tagline25 {
      font-size: 5px; /* Reduce tagline font size */  
    }
    .text25 {
      font-size: 6px;
      width: 55%; /* Adjust text width */
    }
    .text2{
      left: -35px;
    }
}

